@font-face {
    font-family: "GangwonEdu_OTFBoldA";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@mixin commonFont($size: 10, $color: $BLACK) {
    font: {
        family: "GangwonEdu_OTFBoldA";
        size: $size + px;
    }
    color: $color;
    line-height: calc($size + 4) + px;
}

@mixin a11yHidden() {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

@mixin container($width, $verticalMargin) {
    width: $width + px;
    background-color: $WHITE;
    border-radius: 10px;
    text-align: center;
    margin: $verticalMargin + px auto;
}
