@font-face {
    font-family: "GangwonEdu_OTFBoldA";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ChosunGs";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGs.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
    unicode-range: U+4E00-9FEA;
}

@mixin setFontSize($size: 10) {
    font-size: $size + px;
    line-height: calc($size + 4) + px;
}

@mixin a11yHidden() {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

@mixin container($width, $verticalMargin) {
    width: $width + px;
    height: 100%;
    background-color: $WHITE;
    border-radius: 10px;
    margin: $verticalMargin + px auto;
}

@mixin flex($direction: row, $gap: 0, $justify: normal, $align: normal) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap + px;
}
