body,
h1,
h2,
h3,
div,
p,
strong,
ul,
li,
a {
    color: inherit;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

body,
div,
section,
article,
header,
nav,
main {
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a,
a:visited,
a:hover {
    text-decoration: none;
    color: inherit;
}

button,
button:hover,
button:active {
    background-color: inherit;
    outline: none;
}
