$WHITE: #fdfdfd;
$GRAY: #d9d9d9;
$BLACK: #222222;

$BACKGROUND_SPRING: #b4e197;
$FONT_SPRING: #4e944f;

$BACKGROUND_SUMMER: #b2dffb;
$FONT_SUMMER: #3b9ae1;

$BACKGROUND_FALL: #e89f71;
$FONT_FALL: #aa4a30;

$BACKGROUND_WINTER: #cbc9ff;
$FONT_WINTER: #64638f;
